* {
    margin: 0;
}

@font-face {
    font-family: 'zabars';
    src: url('./fonts/Zabars.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 8px;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-image: url('./img/5_background/desert-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

h1 {
    font-size: 56px;
    letter-spacing: 4px;
    position: relative;
    background: linear-gradient(45deg,green,gold,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


canvas {
    background-color: black;
}