* {
    margin: 0;
}

@font-face {
    font-family: 'zabars';
    src: url('./fonts/Zabars.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    background-image: url('./img/5_background/desert-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 56px;
    letter-spacing: 4px;
    position: relative;
    color: #fec85c;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
}

canvas {
    background-color: black;
    display: block;
}

#fullscreen {
    text-align: center;
}

#overlay {
    background: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: 100% 100%;
    height: 480px;
    width: 720px;
    position: absolute;
    display: flex;
    z-index: 1;
    flex-direction: column;
}

#start-game-btn {
    padding: 16px;
    background-color: #fec85c;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 32px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    margin-top: 34px;
}

#start-game-btn:hover {
    background-color: #df5f0e;
    transform: scale(1.2);
}

#go-home-btn {
    padding: 16px;
    background-color: #fec85c;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 32px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    display: none;
}

#go-home-btn:hover {
    background-color: #df5f0e;
    transform: scale(1.2);
}

.go-home-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 248px;
}

.start-btn-container {
    display: flex;
    justify-content: center;
}

.settings-container {
    display: flex;
    justify-content: space-between;
}

.settings-container img {
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.fullscreen-container {
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
}

.fullscreen-container img {
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.settings-container img:hover {
    transform: scale(1.2);
}

.fullscreen-container img:hover {
    transform: scale(1.2);
}

.instructions-overlay {
    background-color: #fec85c;
    background-size: 100% 100%;
    height: 480px;
    width: 720px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.close-instructions-overlay {
    display: flex;
    justify-content: end;
}

.close-instructions-overlay img {
    height: 24px;
    padding: 16px;
    cursor: pointer;
}

.close-instructions-overlay img:hover {
    transform: scale(1.2);
}

.instructions-container {
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.instruction {
    padding: 8px;
    border: 2px black solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
}

.instruction img {
    height: 32px;
}

.d-none {
    display: none !important;
}

.impressum-overlay {
    background-color: #fec85c;
    background-size: 100% 100%;
    height: 480px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: sans-serif;
}

.impressum-headline {
    color: black;
}

.impressum-text {
    font-size: 12px;
}

.canvas-overlay {
    position: relative;
    display: flex;
    justify-content: end;
    z-index: 0;
}

.mute-pause-container {
    margin: 16px;
    gap: 24px;
    position: absolute;
    height: 32px;
    display: flex;
    z-index: 2;
}

.mute-pause-container :hover {
    cursor: pointer;
}

.overlay-fullscreen {
    height: 100vh !important;
    width: 100vw !important;
}

.overlay-finished {
    background: url('img/9_intro_outro_screens/game_over/game over.png') !important;
    background-size: 100% 100% !important;
    z-index: 1 !important;
}

.canvas-fullscreen {
    height: 100vh;
    width: 100vw;
}

.overlay-turn-device {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: gray;
    opacity: 0.8;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.overlay-turn-device img {
    height: 240px;
}

.mobile-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    bottom: 0px;
    width: 100vw;
}

.mobile-buttons-container:first-child {
    justify-content: flex-start;
}

.mobile-buttons-container:last-child {
    justify-content: flex-end;
}

.button-container {
    margin: 16px;
    gap: 24px;
    height: 40px;
    display: flex;
}

.button-container img {
    height: 50px;
}

@media only screen and (max-width: 660px) {
    h1 {
        display: none;
    }

    canvas {
        width: 100%;
    }

    #overlay {
        width: 100%;
        left: 0;
        right: 0;
    }

    .mobile-buttons-container {
        display: flex !important;
    }

    .overlay-turn-device {
        display: flex !important;
    }
}

@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }

    canvas {
        height: 100vh;
        width: 100vw;
    }

    #overlay {
        height: 100vh;
        width: 100vw;
    }

    .mobile-buttons-container {
        display: flex !important;
    }

    .instructions-overlay {
        width: 100vw;
    }
}

@media (hover:none) {
    .mobile-buttons-container {
        display: flex !important;
        inset: 0;
        width: unset !important;
    }
}
